main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}


.header {
  display: grid;
  grid-template-columns: 1fr 1.35fr 1fr;
  align-items: center;
  padding: 92px 50px 90px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000;
  color: #fff;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}


.cover {
  position: relative;
  padding: 150px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding-top: 136px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 14px 32px;
  font-size: 22px;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.bet-button:hover {
  background: #fff;
  color: #000;
}


.lots {
  padding: 0 50px;
}

.lots__heading {
  padding: 0 0 30px 40px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-size: cover;
  background-repeat: no-repeat;
}

.card__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  color: #fff;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  width: fit-content;
}


.about {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 24px;
  padding: 0 50px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0 104px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
}


.footer {
  display: flex;
  justify-content: space-between;
  padding: 150px 50px 80px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
